<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" >login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-avatar class="center-avatar"> 
    <img src= "../../assets/image/avatar.png">
  </ion-avatar>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="email"formControlname="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="contraseña" labelPlacement="floating" placeholder="contraseña"formControlname="password" type="password"></ion-input>
    </ion-item>
    <div class = "validation-message"> 
      <ng-container *ngFor="let validation of validation_messages.email">
       <div *ngIf=
       "(loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.touched) || 
       loginForm.get('email')?.dirty  "
        >{{validation.message}}</div> 
      </ng-container>
    </div>
    <ion-button type="submit" expand="full">Login</ion-button>
  </form>
  <div class = "validation-message">
    {{loginMessage}}
  </div>
</ion-content>
