<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container 
  [loop] = "true"
  [pagination] ="true">

    <swiper-slide>
      <h1 class ="red-title"> titulo 1 </h1>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta, recusandae perferendis voluptatum beatae inventore voluptatem aliquid nemo sunt! Perferendis corporis ipsum quisquam consequatur reiciendis? Pariatur laborum at dolorum inventore?</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
    <swiper-slide>
      <h1 class ="red-title"> titulo 2 </h1>
      <p> contenido</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
    <swiper-slide>
      <h1 class ="red-title"> titulo 3</h1>
      <p> contenido</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
    <swiper-slide>
      <h1 class ="red-title"> titulo 4</h1>
      <p> contenido</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
    <swiper-slide>
      <h1 class ="red-title"> titulo 5</h1>
      <p> contenido</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
    <swiper-slide><h1 class ="red-title"> titulo 6</h1>
      <p> contenido</p>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fdoblaje%2Fimages%2F8%2F8d%2FOne_Piece.png%2Frevision%2Flatest%3Fcb%3D20190727212440%26path-prefix%3Des&tbnid=KjzesatXb-MxOM&vet=12ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7..i&imgrefurl=https%3A%2F%2Fdoblaje.fandom.com%2Fes%2Fwiki%2FOne_Piece&docid=wxvRDXRfIqZF7M&w=1024&h=1407&q=one%20piece&ved=2ahUKEwjwwu3t-I2EAxVlGGIAHUCyCBYQMygDegQIARB7">
      <p> swipe para continuar </p>
    </swiper-slide>
  </swiper-container>  
</ion-content>
