<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container 
  [loop] = "true"
  [pagination] ="true">

<swiper-slide *ngFor="let slide of slides; let i = index">
      <h1 class ="red-title"> {{slide.title}}</h1>
      <p class="{{slide.class}}"> {{slide.description}}</p>
      <img src={{slide.image}}>
      <p> {{slide.help_text}} </p>
      <p *ngIf = "i == 0">i:{{i}}</p>
      <ion-button *ngIf ="i ==2">hola mundo </ion-button>
      <div *ngIf="i==0"> </div>
    </swiper-slide>
   
  </swiper-container>  
</ion-content>
